html
	head
		title!= title
		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script(src="/socket.io/socket.io.js")
		script(src="/public/chat/client.js")
	body
		div(class="chatUserList")
			table(id="chatUsersBoard")
				tr
					th Users
		div(class="chatMessages")
			ul(id="chatMessagesBoard")
			form(action="javascript:sendMessage()")
				input(type="hidden",id="chatToken",value=chatToken)
				input(type="hidden",id="chatConversationId",value=chatConversationId)
				p(id="chatUser", style="display:none;")
				input(id="chatMessage", autocomplete="off", style="display:none;")
				button(id="sendMessage", autocomplete="off", style="display:none;") Send
