html
	head
		title!= title
		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script(src="/socket.io/socket.io.js")
		script
			|	var socket = io();
			|	function sendMessage(){
			|		socket.emit('chat message', $('#message').val());
			|		$('#message').val('');
			|		return false;
			|	};
			|	socket.on('chat message', function(msg){
			|		$('#chatMessagesBoard').append($('<li>').text(msg));
			|	});
	body
		div(class="chatList")
			table
				tr
					th manager
					th plantilla
					th on/off
				each val in ['username']
					tr
						td
							a=val
						td
							a
								i(class="fa fa-users")
						td
							a
								i(class="fa fa-comment")
		div(class="chatMessages")
			ul(id="chatMessagesBoard")
			form(action="javascript:sendMessage();")
				input(id="message", autocomplete="off")
				button Send
